.page_cv{
    img{
        float: right;
    }
    h1.title{
        text-align: left;
    }
    div.document{
        padding-top: 2em;
    }
    a{
        border-bottom: dotted 1px;
        color: $lightgreen;
    }
    a:hover{
        border-bottom: none;
    }

    a.pdf{
        right: 4.5em;
        font-size: 0.9em;
        &:before{
            margin-right: 0.2em;
        }
    }

    @media (max-width: 850px){
        img{
            display: none;
        }
        a.pdf{
            right: 1.5em;
        }
    }


}
