// colors
$grey: #7C8081;
//$grey: #7C8081;
//$lightgrey: rgba(124, 128, 129, 0.2);
$lightgrey: rgb(200, 205, 210);
$silver: #e8eef4;
$lightgreen: #83d3c9;
$green: #75CABF;
$darkgreen: #71B8AC;
$lightbrown: #C2BBBB;

//fonts
$font-regular: 'Exo 2', sans-serif;
