/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
    body{-webkit-text-size-adjust:none}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Container */

html, body, input, select, textarea {
    color: #7c8081;
    font-family: 'Exo 2', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

a {
    color: #3fb1a3;
    text-decoration: none;
    border-bottom: dotted 1px;
}

a:hover {
    border-bottom-color: transparent;
}

strong, b {
    font-weight: 500;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.15em;
    letter-spacing: 0.025em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em rgba(124, 128, 129, 0.2);
    font-style: italic;
    padding: 1em 0 1em 2em;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border: solid 1px rgba(124, 128, 129, 0.2);
    color: inherit;
    display: block;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
    outline: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #83d3c9;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    line-height: 1em;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
    position: relative;
    top: 3px;
}

:-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

.image {
    border: 0;
    position: relative;
}

ol {
    list-style: decimal;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

table {
    width: 100%;
}

table tbody tr {
    border-bottom: solid 1px $silver;
}

table td {
    padding: 0.5em 1em 0.5em 1em;
}

table th {
    font-weight: 400;
    padding: 0.5em 1em 0.5em 1em;
    text-align: left;
}

table thead {
    background: #7c8081;
    color: #fff;
}

td {
    vertical-align: top;
}

.button {
    background: none;
    border: solid 1px;
    color: inherit;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0.75em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
}

.footnote{
    color: lightgrey;
}
