/* main */
/** sprite: sprites; sprite-image: url('../images/_sprites.png'); sprite-layout: vertical */
/*!-- rounded --!*/
@import url("https://fonts.googleapis.com/css?family=Exo+2:700,300&subset=latin,cyrillic");
.wrapper .right li, .video_wrapper .right li {
  -webkit-text-shadow: 10px 10px 0 rgba(52, 27, 43, 0.2);
  -moz-text-shadow: 10px 10px 0 rgba(52, 27, 43, 0.2);
  text-shadow: 10px 10px 0 rgba(52, 27, 43, 0.2); }

.css-slider, .container, .wrapper, .video_wrapper {
  -webkit-box-shadow: 1px 1px 0 rgba(52, 27, 43, 0.2), 10px 10px 1px rgba(52, 27, 43, 0.2);
  -moz-box-shadow: 1px 1px 0 rgba(52, 27, 43, 0.2), 10px 10px 1px rgba(52, 27, 43, 0.2);
  box-shadow: 1px 1px 0 rgba(52, 27, 43, 0.2), 10px 10px 1px rgba(52, 27, 43, 0.2); }

.wrapper, .video_wrapper {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 10px 10px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 0 white;
  -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 10px 10px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 0 white;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 10px 10px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 0 white; }

#header {
  -webkit-box-shadow: 0 10px 0 rgba(52, 27, 43, 0.2);
  -moz-box-shadow: 0 10px 0 rgba(52, 27, 43, 0.2);
  box-shadow: 0 10px 0 rgba(52, 27, 43, 0.2); }

header.special .-icon-logo {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.info_container h2, .container h2, .wrapper h2, .video_wrapper h2 {
  background-color: #ADACAD;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }

@-moz-document url-prefix() {
  .info_container h2, .container h2, .wrapper h2, .video_wrapper h2 {
    background: -moz-linear-gradient(transparent, transparent);
    color: #E3E3E3;
    text-shadow: 2px 2px 2px #A2948F, -2px -2px 1px #FFF, 2px 2px 1px #7A6D6D, -2px 2px 1px #CDDCEC, 2px -2px 1px #CDDFE9, 2px 3px 6px #D1BABA;
    opacity: 0.6; } }

/*!-- eraser --!*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-text-size-adjust: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea,
select,
option,
input {
  border-style: inherit;
  border-color: inherit;
  text-align: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-d1mbyp");
  src: url("../fonts/icomoon.eot?#iefix-d1mbyp") format("embedded-opentype"), url("../fonts/icomoon.woff?-d1mbyp") format("woff"), url("../fonts/icomoon.ttf?-d1mbyp") format("truetype"), url("../fonts/icomoon.svg?-d1mbyp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  border: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo:before {
  content: "\e600"; }

.icon-flash:before {
  content: "\e607"; }

.icon-js:before {
  content: "\e603"; }

.icon-html:before {
  content: "\e602"; }

.icon-python:before {
  content: "\e604"; }

.icon-android:before {
  content: "\e601"; }

.icon-tux:before {
  content: "\e605"; }

.icon-tux2:before {
  content: "\e606"; }

.icon-home:before {
  content: "\e900"; }

.icon-qrcode:before {
  content: "\e938"; }

.icon-location:before {
  content: "\e948"; }

.icon-lab:before {
  content: "\e9aa"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-arrow-right:before {
  content: "\ea34"; }

.icon-arrow-left:before {
  content: "\ea38"; }

.icon-circle-up:before {
  content: "\ea41"; }

.icon-circle-right:before {
  content: "\ea42"; }

.icon-circle-down:before {
  content: "\ea43"; }

.icon-circle-left:before {
  content: "\ea44"; }

.icon-checkbox-checked:before {
  content: "\ea52"; }

.icon-checkbox-unchecked:before {
  content: "\ea53"; }

.icon-mail:before {
  content: "\ea86"; }

.icon-google-plus:before {
  content: "\ea8a"; }

.icon-facebook:before {
  content: "\ea8e"; }

.icon-twitter:before {
  content: "\ea93"; }

.icon-feed:before {
  content: "\ea96"; }

.icon-github:before {
  content: "\eab1"; }

.icon-file-pdf:before {
  content: "\eada"; }

.icon-html5:before {
  content: "\eadf"; }

.verticalstripe, .wrapper, .video_wrapper {
  background-color: #E8E8E8;
  background-image: linear-gradient(90deg, transparent 50%, rgba(249, 249, 249, 0.1) 50%);
  background-size: 5px 5px; }

.fibredark {
  background: radial-gradient(#E8E8E8 10%, transparent 75%) 0 0, radial-gradient(#E8E8E8 10%, transparent 75%) 50% 96%;
  background-color: #f9f9f9;
  background-size: 75px 75px; }

body {
  /* min-width: (containers) */
  background: radial-gradient(#DEDFE1 5%, transparent 16%) 0 0, radial-gradient(#DCDFE1 5%, transparent 16%) 7px 7px, radial-gradient(#F8FBFF 15%, transparent 20%) 0 1px, radial-gradient(#F8FBFF 15%, transparent 20%) 8px 8px;
  background-color: #e8eef4;
  background-size: 16px 16px;
  padding-top: 3.5em; }

.container, .wrapper, .video_wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFEFF; }

/* Basic */
body, input, select, textarea {
  color: #7C8081;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 15pt;
  letter-spacing: 0.025em;
  line-height: 1.75em; }

a {
  color: #75CABF;
  text-decoration: none;
  border-bottom: dotted 1px; }

a:hover {
  border-bottom-color: transparent; }

strong, b {
  font-weight: 600; }

p, ul, ol, dl, table, blockquote {
  margin: 0 0 1.25em 0; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 900;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase; }

h3, h4, h5, h6 {
  font-weight: 300; }

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  text-align: center; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
  border: 0; }

h2 {
  font-size: 3.0em;
  line-height: 0.9em;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 0.6em; }

h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

hr {
  border-top: solid 1px #c8cdd2;
  border: 0;
  margin-bottom: 1.5em; }

blockquote {
  border-left: solid 0.3em #c8cdd2;
  font-style: italic;
  padding: 0.2em 0 0.2em 1em;
  color: #c8cdd2; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border: solid 1px #c8cdd2;
  color: inherit;
  display: block;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
  outline: 0; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #83d3c9; }

input[type="text"],
input[type="password"],
input[type="email"] {
  line-height: 1em; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  position: relative;
  top: 3px; }

:-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

::-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5; }

.image {
  border: 0;
  position: relative; }

ol {
  list-style: decimal;
  padding-left: 1.25em; }

ol li {
  padding-left: 0.25em; }

ul {
  list-style: disc;
  padding-left: 1em; }

ul li {
  padding-left: 0.5em; }

table {
  width: 100%; }

table tbody tr {
  border-bottom: solid 1px #e8eef4; }

table th {
  font-weight: 400;
  padding: 0.5em 1em 0.5em 1em;
  text-align: left; }

table thead {
  background: #7c8081;
  color: white; }

td {
  vertical-align: top; }

.button {
  background: none;
  border: solid 1px;
  color: inherit;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 2px;
  min-width: 18em;
  padding: 0.75em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.button:hover {
  background: #c8cdd2;
  border-color: inherit; }

.footnote {
  color: lightgrey; }

p {
  line-height: 1.25em; }

.feature-icons li {
  padding-left: 0; }

#header {
  background: white;
  color: inherit;
  cursor: default;
  font-size: 0.8em;
  padding: 1em 1.5em 0 1.5em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  white-space: nowrap;
  background: #F9F9F9;
  -webkit-box-shadow: inset 0px 1px 0px #fff, 0px 0px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px #fff, 0px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px #fff, 0px 0px 2px rgba(0, 0, 0, 0.15), black 0px 2px 5px -3px;
  background: linear-gradient(90deg, #F1F1F1, white 10%, #F1F1F1 40%, #F9F9F9 60%, white 90%, #EFEFEF); }
  #header:after {
    content: "";
    display: block;
    height: 2em;
    position: absolute;
    left: 0;
    bottom: -2em;
    width: 100%;
    background: radial-gradient(ellipse at top left, rgba(0, 0, 0, 0.5) 0%, transparent 30%), radial-gradient(ellipse at top right, rgba(0, 0, 0, 0.5) 0%, transparent 30%); }
  #header h1 {
    font-weight: 900;
    margin: 0;
    float: left; }
    #header h1 span {
      font-weight: 300; }
  #header nav {
    letter-spacing: 0.075em;
    text-transform: uppercase;
    float: right; }
    #header nav ul {
      margin-bottom: 1em; }
    #header nav ul li {
      display: inline-block;
      padding-left: 0; }
      #header nav ul li a {
        padding: 0em 0.75em;
        border: solid 1px transparent;
        color: inherit;
        display: inline-block;
        text-decoration: none; }
      #header nav ul li .button {
        font-size: 1em;
        min-width: 0;
        width: auto; }
    #header nav ul li.current {
      font-weight: 900; }
    #header nav ul li.language {
      color: #7C8081; }
      #header nav ul li.language a {
        padding: 0; }
    #header nav ul li > ul {
      display: none; }
    #header nav ul li.active > a, #header nav ul li:hover > a {
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: rgba(188, 202, 206, 0.15); }

#banner {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2), 0 100px 100px 34px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: default;
  padding: 4em 0 3em 0;
  text-align: center;
  position: relative; }
  #banner .landscape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #75cabf; }
    #banner .landscape .inside {
      position: absolute;
      top: -50px;
      left: -50px;
      right: -50px;
      bottom: -50px;
      background-color: #75cabf;
      color: #5FB8AA;
      font-size: 108px;
      line-height: 0.3em;
      letter-spacing: -0.15em;
      text-transform: uppercase;
      text-shadow: 3em 3em #3B9388, 2em 2em #4BA398, -2em -2em #86DACF;
      font-family: monospace;
      font-weight: bold;
      -webkit-transform: rotate(8deg);
      -moz-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
      -o-transform: rotate(8deg);
      transform: rotate(8deg); }
  #banner .inner {
    background-color: #63BAAF;
    color: white;
    display: inline-block;
    padding: 0 3em 1em 3em;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: -1px -1px 0 #85d9ce, 1px 1px 0 #3A877D, 20px 20px 50px 30px rgba(0, 0, 0, 0.3); }
    #banner .inner header {
      display: inline-block;
      margin: 0 0 0em 0;
      padding: 3px 0 3px 0; }
    #banner .inner h2 {
      color: #89E1D5;
      text-shadow: 2px 2px 2px #51A096, -2px -2px 1px #A7F2E9, 2px 2px 1px #5BAB9E, -2px 2px 1px #5BAB9E, 2px -2px 1px #7EDCCF, 3px 3px 8px #5BAB9E;
      border-bottom: double 10px;
      border-top: double 10px;
      line-height: 1;
      font-size: 2.2em;
      text-transform: capitalize;
      line-height: 0.65;
      padding-bottom: 0.06em; }
      #banner .inner h2 span {
        font-size: 1.3em;
        vertical-align: baseline; }
    #banner .inner b, #banner .inner strong {
      font-weight: 900; }
    #banner .inner p {
      font-size: 0.8em;
      margin: -6px 0 0 0;
      color: #89e1d5;
      line-height: 0.85;
      text-align: left; }
    #banner .inner a {
      color: inherit; }

header.major {
  padding-bottom: 2em; }

header.special {
  margin-bottom: 0em;
  padding-top: 4em;
  position: relative;
  text-align: center; }

header.special .-icon-logo {
  font-family: 'Exo 2';
  margin-top: -64px;
  color: white;
  font-size: 66px;
  line-height: 0;
  position: absolute;
  left: 50%;
  margin-left: -33px;
  top: 1em;
  font-weight: bold;
  line-height: 0.30;
  text-indent: 0.06em;
  letter-spacing: 0.2em;
  font-size: 4em;
  margin-top: -1.00em;
  margin-left: -0.9em; }
  header.special .-icon-logo b {
    font-weight: normal; }

header.special:before, header.special:after {
  border-bottom: solid 1.5px;
  border-top: solid 1.5px;
  content: '';
  height: 7px;
  opacity: 0.15;
  position: absolute;
  top: 1.75em;
  width: 46%;
  background-color: #C2BBBB; }

header.special:before {
  left: 0;
  border-radius: 0 100% 0 0; }

header.special:after {
  right: 0;
  border-radius: 100% 0 0 0; }

header.special h2 {
  margin-top: 0; }

header.special h2 + p {
  /*padding-top: 1.5em;*/ }

header.special p {
  text-align: justify;
  line-height: 1.25em; }

header.special p:first-of-type {
  margin-top: 5.5em; }

header.special .icon {
  cursor: default;
  height: 7em;
  left: 0;
  position: absolute;
  text-align: center;
  top: 1em;
  width: 100%; }

header.special .icon:before {
  font-size: 3.5em;
  opacity: 0.35; }

.stripe {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1.2em 0;
  margin-bottom: 1em;
  background: #F9F9F9;
  -webkit-box-shadow: inset 0px 1px 0px #fff, 0px 0px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px #fff, 0px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px #fff, 0px 0px 2px rgba(0, 0, 0, 0.15), black 0px 2px 5px -3px;
  background: linear-gradient(90deg, #F1F1F1, white 10%, #F1F1F1 40%, #F9F9F9 60%, white 90%, #EFEFEF); }
  .stripe:after {
    content: "";
    display: block;
    height: 2em;
    position: absolute;
    bottom: -2em;
    width: 100%;
    background: radial-gradient(ellipse at top left, rgba(0, 0, 0, 0.5) 0%, transparent 30%), radial-gradient(ellipse at top right, rgba(0, 0, 0, 0.5) 0%, transparent 30%); }
  .stripe h2 {
    transform: rotate(-1deg); }

.container, .wrapper, .video_wrapper {
  zoom: 1;
  position: relative;
  margin: 0 10%;
  margin-bottom: 4em;
  padding: 1em 4em; }
  .container:before, .wrapper:before, .video_wrapper:before, .container:after, .wrapper:after, .video_wrapper:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .container:after, .wrapper:after, .video_wrapper:after {
    clear: both; }
  .container h2, .wrapper h2, .video_wrapper h2 {
    opacity: 1;
    margin-top: 0.55em; }

@media (max-width: 850px) {
  h2 {
    font-size: 2.4em; } }

@media (max-width: 700px) {
  .container, .wrapper, .video_wrapper {
    padding: 1em 1em;
    margin: 0 5%; }
  h2 {
    font-size: 2.3em;
    margin-top: 0.65em; } }

@media (max-width: 600px) {
  h2 {
    font-size: 2.2em;
    margin-top: 0.8em; } }

@media (max-width: 460px) {
  .container, .wrapper, .video_wrapper {
    padding: 1em 0.5em;
    margin: 0 0; }
  h2 {
    font-size: 1.8em;
    margin-top: 0.9em; } }

.wrapper, .video_wrapper {
  background-color: #75CABF;
  color: white; }
  .wrapper h2, .video_wrapper h2 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: none; }
  .wrapper .left, .video_wrapper .left {
    float: left; }
  .wrapper .right, .video_wrapper .right {
    float: right; }
    .wrapper .right ul, .video_wrapper .right ul {
      list-style: none; }
    .wrapper .right li, .video_wrapper .right li {
      float: right;
      font-size: 5.25em;
      width: 1em;
      height: 1.1em; }

.video_wrapper {
  margin: 0; }
  .video_wrapper iframe {
    width: 100%;
    /*max-width: 700px;*/ }

.circles, .small_circles {
  text-align: center;
  padding-top: 1em; }
  .circles a, .small_circles a {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    border-radius: 0.2em;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    border: none;
    margin: 0.5em;
    overflow: hidden;
    display: inline-block;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 1px 1px 0 rgba(52, 27, 43, 0.5);
    -moz-box-shadow: 1px 1px 0 rgba(52, 27, 43, 0.5);
    box-shadow: 1px 1px 0 rgba(52, 27, 43, 0.5);
    transform-origin: top left;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: all 0.6s ease-in; }
    .circles a:hover, .small_circles a:hover {
      -webkit-box-shadow: 1px 0 0 white, 25px 5px 8px -5px rgba(52, 27, 43, 0.4);
      -moz-box-shadow: 1px 0 0 white, 25px 5px 8px -5px rgba(52, 27, 43, 0.4);
      box-shadow: 1px 0 0 white, 25px 5px 8px -5px rgba(52, 27, 43, 0.4);
      transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
      opacity: 0.70;
      transition: all 0.3s ease-out; }
    .circles a:active, .small_circles a:active {
      -webkit-box-shadow: 2px 2px 0 rgba(52, 27, 43, 0.9);
      -moz-box-shadow: 2px 2px 0 rgba(52, 27, 43, 0.9);
      box-shadow: 2px 2px 0 rgba(52, 27, 43, 0.9);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      opacity: 1;
      transition: all 0s; }

.small_circles a {
  width: 250px;
  height: 250px; }

.info_container {
  padding-bottom: 1em;
  position: relative;
  text-align: center; }
  .info_container h2 {
    margin-top: -0.27em; }
  .info_container h2, .info_container h3, .info_container p {
    margin-bottom: 0;
    line-height: 1; }
  .info_container h3 {
    line-height: 1.3em; }
  .info_container p {
    margin: 1em 0 0 0; }

a.pdf {
  position: absolute;
  top: 1em;
  right: 4em; }

.css-slider {
  position: relative;
  text-align: center;
  z-index: 0;
  width: 100%;
  transform: translate3d(0, 0, 0); }

.css-slider .slides > * {
  display: inline-block;
  width: 100%; }

.css-slider > label,
.css-slider > input {
  position: relative;
  z-index: 1;
  top: 0;
  display: none; }

.css-slider .slides {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap; }

.css-slider .slides img {
  vertical-align: top; }

/*------ Two way slider -------------*/
.css-slider.two-way > label,
.css-slider.two-way input {
  position: absolute;
  left: 0;
  top: 50%; }

.css-slider.two-way > input:checked,
.css-slider.two-way > input:checked + input ~ input {
  display: none; }

.css-slider.two-way > input:checked + input {
  left: auto;
  right: 0; }

/*------------------------ANIMATION-----------------------------------*/
.css-slider .slides > * {
  transition: margin-left 0.3s  ease-in-out; }

.css-slider .slides > * {
  display: inline-block;
  transition: margin-left 0.3s  ease-in-out; }

input:nth-of-type(2):checked ~ .slides > *:first-child {
  margin-left: -100%; }

input:nth-of-type(3):checked ~ .slides > *:first-child {
  margin-left: -200%; }

input:nth-of-type(4):checked ~ .slides > *:first-child {
  margin-left: -300%; }

input:nth-of-type(5):checked ~ .slides > *:first-child {
  margin-left: -400%; }

input:nth-of-type(6):checked ~ .slides > *:first-child {
  margin-left: -500%; }

input:nth-of-type(7):checked ~ .slides > *:first-child {
  margin-left: -600%; }

input:nth-of-type(8):checked ~ .slides > *:first-child {
  margin-left: -700%; }

input:nth-of-type(9):checked ~ .slides > *:first-child {
  margin-left: -800%; }

input:nth-of-type(10):checked ~ .slides > *:first-child {
  margin-left: -900%; }

input:nth-of-type(11):checked ~ .slides > *:first-child {
  margin-left: -1000%; }

input:nth-of-type(12):checked ~ .slides > *:first-child {
  margin-left: -1100%; }

input:nth-of-type(13):checked ~ .slides > *:first-child {
  margin-left: -1200%; }

input:nth-of-type(14):checked ~ .slides > *:first-child {
  margin-left: -1300%; }

input:nth-of-type(15):checked ~ .slides > *:first-child {
  margin-left: -1400%; }

input:nth-of-type(16):checked ~ .slides > *:first-child {
  margin-left: -1500%; }

input:nth-of-type(17):checked ~ .slides > *:first-child {
  margin-left: -1600%; }

input:nth-of-type(18):checked ~ .slides > *:first-child {
  margin-left: -1700%; }

input:nth-of-type(19):checked ~ .slides > *:first-child {
  margin-left: -1800%; }

input:nth-of-type(20):checked ~ .slides > *:first-child {
  margin-left: -1900%; }

.css-slider.styled label:hover,
.css-slider.styled input:hover + label {
  color: white;
  color: #83d3c9; }

.css-slider.styled input:checked + label {
  background: black;
  color: white; }

.css-slider.styled .slides img {
  border: solid 10px #E8EEF4; }

.css-slider.styled label {
  font-family: 'icomoon';
  cursor: pointer;
  display: inline-block;
  width: 42px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  color: white;
  font-size: 32px;
  margin-bottom: 5px;
  color: #75CABF; }

/* ------- 2 way ----------- */
.css-slider.two-way.styled label {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 3.5em;
  text-shadow: -1px -1px 0 #3A9888, -8px -8px 1px rgba(0, 0, 0, 0.1);
  transform: rotate(180deg); }

.css-slider.styled input + label:hover,
.css-slider.styled input:hover + label {
  text-shadow: -1px -1px 0 #3A9888, -9px -9px 3px rgba(0, 0, 0, 0.1);
  transform: translate(-4px, -4px), rotate(0deg); }

.css-slider.two-way.styled > input:checked + label + input ~ label:hover {
  text-shadow: 1px 1px 0 #3A9888, 9px 9px 3px rgba(0, 0, 0, 0.1); }

.css-slider.two-way.styled > input:checked + label,
.css-slider.two-way.styled > input:checked + label + input + label ~ label {
  display: none; }

.css-slider.two-way.styled > input:checked + label + input ~ label {
  left: auto;
  right: 0;
  transform: rotate(0deg);
  text-shadow: 1px 1px 0 #3A9888, 8px 8px 1px rgba(0, 0, 0, 0.1); }

footer > :last-child {
  margin-bottom: 0; }

#footer {
  -webkit-box-shadow: 0 -22px 90px 22px rgba(0, 0, 0, 0.1), inset 0px 5px 0 rgba(0, 0, 0, 0.2), inset 0 2px 2px white;
  -moz-box-shadow: 0 -22px 90px 22px rgba(0, 0, 0, 0.1), inset 0px 5px 0 rgba(0, 0, 0, 0.2), inset 0 2px 2px white;
  box-shadow: 0 -22px 90px 22px rgba(0, 0, 0, 0.1), inset 0px 5px 0 rgba(0, 0, 0, 0.2), inset 0 2px 2px white;
  position: relative;
  background: white;
  color: #7c8081;
  padding: 2em;
  text-align: center; }
  #footer .icons {
    margin-bottom: 0.5em; }
  #footer ul {
    list-style: none;
    padding-left: 0; }
  #footer li {
    display: inline-block; }
  #footer .copyright {
    font-size: 0.8em;
    line-height: 1em; }
  #footer .copyright a {
    color: inherit; }
  #footer .icons {
    font-size: 48px; }
    #footer .icons li {
      display: inline-block;
      transition: all 0.3s; }
      #footer .icons li:hover {
        text-shadow: rgba(0, 99, 99, 0.7) 1px 1px 0px, rgba(0, 0, 0, 0.15) 5px 5px 1px; }
  #footer .info {
    color: #c8cdd2;
    position: absolute;
    right: 1em;
    bottom: 0em;
    font-size: 0.7em;
    line-height: 1; }

.page_cv img {
  float: right; }

.page_cv h1.title {
  text-align: left; }

.page_cv div.document {
  padding-top: 2em; }

.page_cv a {
  border-bottom: dotted 1px;
  color: #83d3c9; }

.page_cv a:hover {
  border-bottom: none; }

.page_cv a.pdf {
  right: 4.5em;
  font-size: 0.9em; }
  .page_cv a.pdf:before {
    margin-right: 0.2em; }

@media (max-width: 850px) {
  .page_cv img {
    display: none; }
  .page_cv a.pdf {
    right: 1.5em; } }

/*# sourceMappingURL=main.css.map */